* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h3 {
  font-family: "Norse Bold";
}

@font-face {
  font-family: "Norse Bold";
  src: url("./Norse-Bold.otf") format("opentype");
}

:root {
  --green: #596d48;
  --border-color: #e5e7eb;
}

body {
  display: flex;
  min-height: 100vh;
}

.container {
  min-height: 100%;
  flex: 1;
}

.form-cont {
  background-color: #f9fafb;
  z-index: 2;
}

.container-item {
  /* border: 2px solid rgb(0, 255, 68); */
  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: stretch;
}

form div,
h2,
.buttons {
  margin-left: 40px;
  margin-top: 20px;
}

h4 {
  font-weight: 400;
}

a {
  /* text-decoration: none; */
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
  /* border: 2px solid red; */

  min-width: 660px;

  align-items: stretch;

  justify-content: center;

  flex: 1;
}

.container > .opacity-box {
  background-color: rgba(0, 0, 0, 0.664);
  position: absolute;

  display: flex;

  color: white;

  text-align: center;
  align-items: center;
  justify-content: center;

  width: 58%;
  z-index: 1;

  align-self: center;

  top: 160px;
  font-size: 60px;

  gap: 20px;
  padding: 20px 0px;
}

.container > .credit {
  position: absolute;

  color: white;

  text-align: center;

  align-self: center;

  min-width: 320px;
  max-width: 320px;
  bottom: 40px;
  font-size: 15px;
}

.logo {
  width: 80px;
  height: 80px;
}

.img-cont {
  min-width: 0px;
  max-width: 660px;
  max-height: 100vh;
}

.container > img {
  min-width: 660px;
  min-height: 100%;
  /* width: 1000px; */
}

.container-row {
  display: flex;
  flex-wrap: nowrap;

  gap: 45px;
}
label {
  display: flex;
  flex-direction: column;
}

.container-item h2 {
  /* border: 1px solid rgb(109, 179, 254); */
  max-width: 600px;
  font-size: max(20px, 1.7vw);
  /* font-size: clamp(1.5rem, 5vw, 1.8rem); */
  font-weight: 500;
}

.container-item {
  /* border: 0.2px solid green; */
  flex: 1;
}

button {
  width: 200px;
  height: 40px;
  background-color: var(--green);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-style: none;
}

input {
  margin-top: 5px;
  width: 250px;
  height: 24px;

  border: 1.5px solid #cacbce;
  border-radius: 7px;
  padding: 2px;
}

form {
  padding: 20px 0px;
  background-color: white;
  /* border: 1.5px solid #cacbce; */

  border-top: 1.5px solid #f7f7f7;

  box-shadow: 2px 5px 5px #cacbce;
}

form > div > label {
  color: #434b57;
}

form > div {
  /* border: 1px solid pink; */
  margin-bottom: 20px;
}

.quote {
  margin: 35px 0px;
}

.buttons {
  margin-bottom: auto;
  align-self: flex-start;
  justify-content: flex-start;
}

button {
  margin-top: 20px;
}

.login-text {
  margin-top: 20px;
}

.color {
  color: var(--green);
}

.login-text {
  margin-top: 20px;
}

.color {
  color: var(--green);
  cursor: pointer;
}

button {
  transition-duration: 0.2s;
}

button:hover {
  background-color: #4a5c3b;
  cursor: pointer;
}

button:active {
  transform: scale(1.02);
}

input {
}

[type]:required:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:valid {
  border-color: rgb(53, 181, 89);
}
